* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    position: relative;
}

body {
    background-color: #FFFFFE;
    font-family: 'Spline Sans', sans-serif;
}

a {
    text-decoration: none;
}

.heroSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.heading h1 {
    font-family: 'Spline Sans Mono', sans-serif;
    color: #5a82f1;
    font-weight: 700;
    font-size: 8rem;
    letter-spacing: -8px;
    text-align: center;
    user-select: none;
}

.subheading {
    margin: 2rem 0;
}

.subheading h2 {
    font-family: 'Spline Sans Mono', sans-serif;
    color: #5a82f1;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0;
    text-align: center;
}

.marquee {
    background-color: #5a82f1;
    max-width: 900px;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;
}

.marquee-text {
    color: #FFFFFE;
    white-space: nowrap;
    font-size: 2.5rem;
    font-family: 'Spline Sans Mono', sans-serif;
    letter-spacing: -2px;
    font-weight: 500;
    padding: 0.5rem 0;
    animation: crawl 35s linear infinite;
    /* animation-delay: 10s; */
}

@keyframes crawl {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.stationsSection {
    padding: 5rem;
    width: 100%;
    height: 100%;
    /* background-color: #0E0E0E; */
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    place-items: center;
    width: 100%;
}

.stationCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: 0.7rem;
    /* border: #5a82f1 solid 0.2rem; */
    background-color: #5a82f1;
}

.cardTitle h3 {
    font-family: 'Spline Sans Mono', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    /* text-transform: uppercase; */
    color: #FFFFFE;
    letter-spacing: -1px;
}

.cardButton a {
    font-family: 'Spline Sans Mono', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #FFFFFE;
    color: #5a82f1;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.cardButton a:hover {
    color: #0E0E0E;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #5a82f1;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    transform: translateX(-50%);
}

.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #5a82f1;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

@keyframes scroll-down {
    0% {
        top: 40%;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 80%;
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    .marquee {
        max-width: 100%;
    }

    .marquee-text {
        font-size: 1.3rem;
    }

    .heroSection {
        padding: 3rem;
    }

    .heading h1 {
        font-size: 6rem;
        letter-spacing: -6px;
    }

    .subheading h2 {
        font-size: 0.8rem;
    }

    .stationsSection {
        padding: 2rem;
    }

    .cardTitle h3 {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 576px) {
    .marquee-text {
        font-size: 1.3rem;
    }

    .heading h1 {
        font-size: 4.5rem;
        letter-spacing: -6px;
    }

    .subheading h2 {
        font-size: 0.8rem;
    }

    .stationsSection {
        padding: 2rem;
    }

    .stationCard {
        padding: 1.5rem 1rem;
    }

    .cardButton a {
        font-size: 0.9rem;
    }

    .cardTitle h3 {
        font-size: 1.3rem;
    }
}